@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using AXProductApp.Data
@inject NavigationManager NavManager

<h1>SignalR Client</h1>

<div id="status">@strStatus</div>







@code {
    HubConnection? hubConnection;
    private WindowStatus windowStatus;
    string strStatus;
    int Temperature;
    bool IsConnected;
    string ProtectionStatus;
    int Humidity;

    protected override async Task OnInitializedAsync()
    {
        await EstablishConnection();
    }


    private async Task EstablishConnection()
    {
        hubConnection = new HubConnectionBuilder()
     // .WithUrl(new Uri("http://192.168.4.2:81/client-hub")) // This URL should match your SignalR hub endpoint
     .WithUrl(new Uri("https://localhost:7009/client-hub")) // This URL should match your SignalR hub endpoint
       .WithAutomaticReconnect()
           .Build();

        hubConnection.On<WindowStatus>("ReceiveWindowStatus", (status) =>
        {
            strStatus = $"Window Temp: {status.Temparature}, {status.WaterLevel}, {status.IsProtected}, {status.Humidity}";
            Temperature = status.Temparature;
            Humidity = status.Humidity;
            ProtectionStatus = status.IsProtected;
            

        });
        try
        {
            await hubConnection.StartAsync();

            if (hubConnection?.State == HubConnectionState.Connected)
            {
                bool IsConnected = true;
            }
            Console.WriteLine($"REMOTE STATE {IsConnected}");
            Console.WriteLine("Connection to hub established.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error establishing connection to hub: {ex.Message}");
        }

    }

}
