@page "/main"
@using AXProductApp.Interfaces
@using AXProductApp.Models.Dto
@inject IMainMenu MainMenuService
@inject NavigationManager Navigation
@inject StateContainer _stateContainer
<h3>MainPage</h3>
<NavLink href ="/test">Go to test</NavLink>

@if (deviceList == null)
{
    <p>Loading...</p>
}
else if (deviceList.Count == 0)
{
    <p>No devices found.</p>
}
else
{
    @foreach (var item in deviceList)
    {
     
        <button @onclick="() => OnDeviceSelectAsync(item.Id) ">@item.DeviceType</button>
    }
}

@code {
    private List<DeviceDto> deviceList;

    public async Task OnDeviceSelectAsync(Guid id)
    {
        _stateContainer.ObjectTunnel.Add(id.GetHashCode(), id);
        Navigation.NavigateTo($"/deviceDetails/{id.GetHashCode()}");
    }

    protected override async Task OnInitializedAsync()
    {
        deviceList = await MainMenuService.GetUserDevicesAsync();
    }
}
