@page "/main"
@using AXProductApp.Interfaces
@using AXProductApp.Models.Dto
@using AXProductApp.Services
@inject AuthApiClient ApiClient
@inject NavigationManager Navigation
@inject StateContainer _stateContainer

<h3>MainPage</h3>
<NavLink href="/test">Go to test</NavLink>

@if (deviceList == null)
{
    <p>Loading...</p>
}
else if (deviceList.Count() == 0)
{
    <p>No devices found.</p>
}
else
{
    @foreach (var item in deviceList)
    {
        <button @onclick="() => OnDeviceSelectAsync(item.Id)">@item.Id</button>
    }
}

@code {
    private IEnumerable<DeviceDto> deviceList;

    public async Task OnDeviceSelectAsync(Guid id)
    {
        _stateContainer.ObjectTunnel.Add(id.GetHashCode(), id);
        Navigation.NavigateTo($"/deviceDetails/{id.GetHashCode()}");
    }

    protected override async Task OnInitializedAsync()
    {
        var responce = await ApiClient.GetAsync<List<DeviceDto>>("DevicesDb/DeviceOfUser");
        if (!responce.IsSuccess || !responce.Data.Any() )
        {
            deviceList = new List<DeviceDto>();
            return;
        }

        deviceList = responce.Data;

    }

}