<div class="modal fade show" id="myModal" style="display:block"; background: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>No connection</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primar">Reverse</button>
            </div>
        </div>
    </div>
</div>
