section__register {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
	margint: 0 auto;
    margin-top: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}

.section__register-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background: #FFFFFF;
    border-radius: 25px;
}

.form-group {
    margin: 0 auto;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 50%;

    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;

    align-items: center;
}

.label-name {
    width: 100px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75px;
}


.form-control {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #000000;
}

.error-messange {
    font-size: 12px;
}

.mt-2.text-end {
    margin-top: 40px;
    width: 45%;
    height: 10%;

    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.arrow-to-login {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.back-to-login {
    color: #FFFFFF;
}

.text-center.mt-2 {
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;

    width: 35%;
    height: 25%;
}

.btn {
    margin: 0 auto;
    width: 100%;
    height: 95%;

    border-radius: 20px;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background: #ffffff;
}

.btn.btn-primary:active {
    transform: scale(0.9);
}
