<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="select">
            <select class="custom-select">
                <option value="0">Window #1 </option>
                <option value="1">Window #2</option>
                <option value="3">Window #3</option>
            </select>
        </div>
        <div class="top-container">
            <button title="Add button" class="plus-button">
                <div class="plus-button">+</div>
            </button>
        </div>

        <div title="Navigation menu" class="tree-dot-menu">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dropdown_menu">
                <li><a href="home">home</a></li>
                <li><a href="home">about</a></li>
                <li><a href="home">abf</a></li>
                <li><a href="home">gdsgfgfsgsg</a></li>
            </div>
            

        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
}

