.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}

.custom-select {
    width: 155px;
    padding: 10px;
    padding-left: 0%;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: none;
}

    .custom-select::-ms-expand {
        background-color: transparent;
    }

    .custom-select:hover {
        border-color: black;
    }

    .custom-select:focus {
        border-color: #007bff;
    }

    .custom-select option {
        background-color: rgba(255, 255, 255, 0.5);
        color: #333;
    }

        .custom-select option:checked {
            color: #333;
        }

            .custom-select option:checked::before {
                background-color: transparent;
                content: none;
            }

.plus-button {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-right:2px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent; 
}
    .plus-button:hover {
        background-color: transparent; 
    }

    .plus-button:active {
        background-color: transparent; 
        background-size: auto;
    }

.tree-dot-menu {
    position: relative;
    background-image: url("/icons/ellipsis-vertical-solid.png");
    border: none;
    padding: 0;
    cursor: pointer;
    left: -30px;
    top: -15px;
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

    .dot:nth-child(1) {
        top: 0;
    }

    .dot:nth-child(2) {
        top: 12px;
    }

    .dot:nth-child(3) {
        top: 24px;
    }
